language: python
matrix:
  include:
    - python: 2.7
      env:
      - TOXENV=py27
    - python: 3.4
      env:
      - TOXENV=py34
    - python: 3.5
      env:
      - TOXENV=py35
install:
  - pip install tox
  - pip install coveralls
  - pip install codeclimate-test-reporter
  - pip install sphinx
  - pip install 'setuptools>30'
script:
  - tox
  - pip install kazoo # Only for building docs
  - sphinx-build -nW -b html -d ./docs/_build/doctrees ./docs ./docs/_build/html
after_success:
  - codeclimate-test-reporter
  - coveralls
notifications:
  email:
  - jon@linkedin.com
  - tpalino@linkedin.com
