include LICENSE NOTICE README.rst
recursive-include kafka *.md
recursive-include kafka *.py
recursive-include docs *.py
recursive-include docs Makefile
recursive-include docs *.rst
recursive-include docs *.svg
